/* Register Page Styles */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d2731; /* Dark background for the container */
  padding: 20px;
}

.signup-box {
  display: flex;
  background-color: #09629a;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 800px;
  width: 100%;
}

.image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #155276;
}

.image-side img {
  max-width: 250px;
  height: auto;
}

.form-side {
  flex: 1;
  padding: 40px;
  background-color: #062747;
}

.form-side h2 {
  color: #d98310;
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  color: #ffffff; /* Updated to white for better contrast */
  margin-bottom: 8px;
  font-size: 1.1rem;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #083c5d;
  border-radius: 6px;
  background-color: #1d2731;
  color: #ffffff;
  font-size: 1rem;
}

.input-group input:focus {
  border-color: #328cc1;
  outline: none;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #d98310;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #b66c0b;
}

button[type="submit"]:focus {
  outline: 3px solid #328cc1;
}

span {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #aaaaaa;
  font-size: 1rem;
}

span a {
  color: #d98310;
  font-weight: 600;
  text-decoration: none;
}

span a:hover {
  color: #b66c0b;
  text-decoration: underline;
}

/* Toast custom styles */
.custom-toast-error {
  background-color: #d98310;
  color: #ffffff;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .signup-box {
    flex-direction: column;
    max-width: 100%;
  }

  .image-side {
    display: none; /* Hide image on smaller screens */
  }

  .form-side {
    padding: 30px;
  }
}
